@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button{
    cursor: pointer;
}

/*COmponete JOGO*/
.jogo{
    position: relative;
    display: flex;
    justify-content: space-between;

    padding: 59px 38px;
}
.jogo img{
    width: 400px;
    height: 466.67px;
}
.jogo .btn{
    width: 200px;
    height: 60px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    text-align: center;

    color: #FFFFFF;
    background: #27AE60;
    border: none;
    border-radius: 8px;
}
.palavra-sorteada{
    position: absolute;
    bottom: 80px;
    right: 61px;
    display:  flex;
    gap: 8px;
}
.card{
   font-size: 5rem;
}
.card.red{
    color: red;
}
.card.green{
    color: #27AE60;
}

/*Componete LETRAS*/
.letras{
    display: flex;
}
.alfabeto{
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.btn{
    width: 40px;
    height: 40px;

    font-weight: 700;
    font-size: 16px;
    text-align: center;

    color: #798A9F;
    background: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
}
.btn.ativado{
    background-color:#E1ECF4;
}
/*Componete CHUTE*/
.chute{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-chute{
    display: flex;
    align-items: center;
    padding: 65px 0px;
}
.box-chute p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-right: 12px;

    color: #000000;
}
.box-chute input{
    width: 353px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.box-chute button{
    width: 100px;
    height: 40px;

    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    margin-left: 12px;

    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #3C76A1;
}

@media(max-width: 870px){
    .jogo{
        display: block;
        padding: 8px 12px;
    }
    .jogo img{
        width: 200px;
        height: 300px;
    }
    .jogo div{
        margin-bottom: 20px;
        display: block;
    }
    .jogo .btn{
        width: 100px;
    }
    .card{
        font-size: 2rem;
        margin-left: 20px;
    }

    .alfabeto{
        justify-content: center;
        justify-items: center;
    }
    .box-chute{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 10px 0px;
    }
}